<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head', {title:"login"}) %> 
<body>
    <form action="/admin " method=" ">
        <label for="user">Nombre</label>
        <input type="text" name="user" id="user" placeholder="Ingresá tu nombre">
        <br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>